<header>
    <img src="/img/logo.png" class="logo" alt="DOE">
    <h2>A sua doação importa</h2>
    <p>Até 3 vidas com 1 doação</p>
    <p>Mais de 38.000 doações são necessárias totos os dias</p>
    <p>Apenas 1,9% da população brasileira, doa sangue</p>
    <button onclick="abrirModal()">Quero ajudar</button>
</header>
<section class="form">
    <h2>Entre na lista de doadores</h2>
    <form action="/add" method="post">
        <ul>
            <li><input type="text" name="name" placeholder="Nome Completo"></li>
            <li><input type="text" name="email" placeholder="E-mail"></li>
            <li><input type="text" name="blood" placeholder="Tipo Sanguineo"></li>
            <li><button type="submit">Quero participar</button></li>
        </ul>
    </form>
</section>
<main>
    <h2>Últimos doadores</h2>
    <div class="blood">
        <ul>
            <li class="blood1">AB+</li>
            <li class="blood2">B+</li>
            <li class="blood3">O+</li>
            <li class="blood4">O-</li>
        </ul>
    </div>
    <div class="ultimosDoadores">
        <ul>
            <li>
                Diego Fernandes
            </li>
            <li>
                Cleinton Souza
            </li>
            <li>
                Robson Marques
            </li>
            <li>
                Mark Brito
            </li>
        </ul>
    </div>
    </div>
    </section>
</main>
<footer>
    <p>Com coração Rocketseat</p>
</footer>
<script src="/js/modal.js"></script>